@use "variables" as var;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 1rem;
}

.nesting {
  padding-block: 4rem;

  .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    > div {
      width: 50%;
      padding-inline: 1rem;
    }
  }

  article {
    border-radius: 16px;
    background-color: cornflowerblue;
    color: white;
    padding: 2rem;

    a {
      color: darkred;
      text-decoration: none;

      &:hover {
        color: darkblue;
      }
    }
  }
}

//Nesting con BEM


.bem {
  padding-block: 4rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    > div {
      width: 50%;
      padding-inline: 1rem;
    }
  }

  &__article {
    border-radius: 16px;
    background-color: cornflowerblue;
    color: white;
    padding: 2rem;

    a {
      color: darkred;
      text-decoration: none;

      &:hover {
        color: darkblue;
      }
    }
    &--border {
      border: 5px solid darkred;
    }
  }
}

//Variables

.variables {
  $size: 200px;

  width: $size;
  height: $size;
  background-color: var.$bg-color;
  border: 5Px solid var.$bd-color;

  @media (width <= var.$media-mobile) {
    background-color: darkred;
  }
}

//Mixin
%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column($row-gap: 1rem) {
  @extend %flex-column;
  row-gap: $row-gap;
}

%color {
  background-color: darkslateblue;
  color: white;
  border: 2px solid black;

}

.article-1 {
 @include flex-column(); 
 @extend %color;
}

.article-2 {
  @include flex-column(2rem);
  @extend %color;
}